/* 通用样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 设置整体页面背景 */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* 标题样式 */
h1 {
  text-align: center;
  color: #4caf50;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* 显示映射结果区域样式 */
#mappedDates {
  font-size: 1.2rem;
  color: #555;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

/* 映射按钮样式 */
button {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 1rem;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05); /* 鼠标悬停时放大 */
}

/* 输入区域样式 */
input[type="text"] {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  text-align: center; /* 居中显示文本 */
}

input[type="text"]:focus {
  border-color: #4caf50;
}

/* 容器样式 */
.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 响应式布局：让内容适应小屏幕 */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  #mappedDates {
    font-size: 1rem;
    padding: 10px;
  }

  input[type="text"] {
    max-width: 100%;
  }
}

/* 历史记录样式 */
#history {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.history-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.history-entry:last-child {
  border-bottom: none;
}

.history-entry:hover .delete-btn {
  display: inline;
}

.delete-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.delete-btn svg {
  width: 16px;
  height: 16px;
}

#toggleHistory {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#toggleHistory:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
